# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Gradle
.gradle/
build/
gradle/wrapper/gradle-wrapper.jar

# Compiled class files
*.class

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Project-specific
local.properties